- menuList = [{name:'食品服務',url:'foodService.html'},{name:'最新消息',url:'latestNews.html'},{name:'聯絡我們',url:'contactUs.html'},{name:'申請書下載',url:'downloadPage.html'},{name:'會員專區',url:'login.html'}]; //- register memberCenter-serviceArea
- subMenuList = [{name:'我要送測',url:'memberCenter-serviceArea.html'},{name:'報價記錄',url:'memberCenter-quotationRecord.html'},{name:'報吿記錄',url:'memberCenter-reportRecord.html'},{name:'變更密碼',url:'changePassword.html'}];

//- nav.menu
//-   .menu_rwdBtn
//-     .menu_rwdBtn_line
//-   .menu_logo_container
//-     .menu_logo_slogan 證食安心
//-   ul.menu_list
//-     each menuItem in menuList
//-       - var liClassName = 'menu_item';
//-       - if(menuItem.name === '會員專區') liClassName += ' menu_item-primary js-memberCenter';
//-       - if(menuItem.name === pagetitle) liClassName += ' menu_item-active';
//-       li(class=liClassName)
//-         a(href=menuItem.url)=menuItem.name
//- ul.menu_list.menu_list_rwd
//-   script
//-     | if (window.sessionStorage["isLogin"]) {
//-     |   document.querySelectorAll(".menu_list").forEach((ele) => {
//-     |     ele.classList.add("isLogin");
//-     |   });
//-     | }
//-     | else{
//-     |   document.querySelector(".js-memberCenter a").innerText = '登入';
//-     | }
//-   .menu_logo_mobileContainer
//-     div.arrow-left
//-       i.fas.fa-arrow-left
//-   each menuItem in menuList
//-     - var liClassName = 'menu_item';
//-     - if(menuItem.name === '會員專區') liClassName += ' menu_item-primary menu_item-parent';
//-     - else if(menuItem.name === pagetitle) liClassName += ' menu_item-active';
//-     li(class=liClassName)
//-       a(href=menuItem.url)=menuItem.name
//-   if pagetitle == '會員專區'
//-     each subMenuItem in subMenuList
//-       - var liClassName = 'menu_item menu_item-child';
//-       - if(subMenuItem.name === tab) liClassName += ' menu_item-active';
//-       li(class=liClassName)
//-         a(href=subMenuItem.url)=subMenuItem.name