extends global/layout

//- 這邊放的全部都是英文連結
block append var
  - isComingSoon = true;
  - mailTo = 'mailto:foodtaipei@taitra.org.tw';
  - IndexLink='https://www.foodtaipei.com.tw/en_US/index.html';
  - FactSheetLink='https://www.foodtaipei.com.tw/en/news/data-list/industry/index.html';
  - TVLink='https://www.taiwantradeshows.com.tw/en_US/index.html';
  - SVGLink='https://www.foodtaipei.com.tw/en/media/grid-list/index.html';
  - ExhibitorLink='https://www.foodtaipei.com.tw/en/exhibitor/index.html';
  - VisitorLink='https://www.foodtaipei.com.tw/en/visitor/index.html';
  - PCLink='https://www.foodtaipei.com.tw/en/product/grid-list/index.html';
  - MNTLink='https://www.foodtaipei.com.tw/en/media/index.html';
  - EventsLink='https://www.foodtaipei.com.tw/zh_TW/act/media/info.html?id=606C2D52ABD9B796';
  - PSRLink='https://www.foodtaipei.com.tw/en/menu/19416ACD889F225FD0636733C6861689/info.html';

block prejs

block js
  script(src="./js/index/index.js?0" type="text/javascript")
  script(src="./js/index/menu.js?0" type="text/javascript")

block content
  .background.backend.scenery
  .window-1.backend.scenery
    .windowContent
      .windowClouds
      .windowClouds-1
  .window.backend.scenery
    .windowContent
      .windowClouds
      .windowClouds-1
  .orangeCabinet.backend.scenery
  .cabinet-1.backend.scenery
  a.elsa.backend.VisitorLink(href=VisitorLink,target="_blank")
  a.buttonVisitor.backend.VisitorLink(href=VisitorLink,target="_blank")
  .carton.backend.scenery
  .worldCarton.backend.scenery
  .cabinet.backend.scenery
    .noodles-o
  .candyTableContainer.backend.scenery
    .chocolate-o
    .candyTable
  .worldCabinet.backend.scenery
    .juice-o
  a.ladder.backend.FactSheetLink(href=FactSheetLink,target="_blank")
    .ladderLeftHand.scenery
    .ladderBody.scenery
    .ladderCarton.scenery
    .ladderRightHand.scenery
  a.buttonFactSheet.backend.FactSheetLink(href=FactSheetLink,target="_blank")
  a.poster.backend.PCLink(href=PCLink,target="_blank")
  a.buttonPC.backend.PCLink(href=PCLink,target="_blank")
  .supportingRole.middle.scenery
  a.hao.middle.ExhibitorLink(href=ExhibitorLink,target="_blank")
    .haoHandContainer.middle.scenery
      .milkTea
        .pearl.pearl-1
        .pearl.pearl-2
        .pearl.pearl-3
        .pearl.pearl-4
        .pearl.pearl-5
        .pearl.pearl-6
      .haoHand
  a.buttonExhibitor.middle.ExhibitorLink(href=ExhibitorLink,target="_blank")
  .yellowTable.middle.scenery
  .mainTableItems.middle
    .mainTableItemsLoudly.scenery
    .mainTableItemsVoice.scenery
    a.mainTableItemsStar.MNTLink(href=MNTLink,target="_blank")
  a.buttonMNT.middle.MNTLink(href=MNTLink,target="_blank")
    .comingSoonBtn
  .internationalFruit.middle.scenery
    .avocado-o
  .taiwanFishery.middle.scenery
    .crab-o
    .fishEye.fishEye-1
    .fishEye.fishEye-2
    .fishEye.fishEye-3
    .fishEye.fishEye-4
    .fishEye.fishEye-5
    .fishEye.fishEye-6
    .fishEye.fishEye-7
    .fishEye.fishEye-8
    .fishEye.fishEye-9
    .fishEye.fishEye-10
    .fishEye.fishEye-11
  .ribbon-2.front.scenery
  .ribbon-1.front.scenery
  .ribbon.front.scenery
  a.tv.middle.TVLink(href=TVLink,target="_blank")
  .refrigerator.front.scenery

  .richman.scenery
    .wine
    .avocado
    .crab
    .juice
    .chocolate
    .noodles
    .protagonist
    
  a.ryan.PSRLink(href=PSRLink,target="_blank")
    .ryanRightHand.scenery
    .ryanBody.scenery
    .ryanLeftHand.scenery
  .fruitCabinet.front.scenery
  .wineCabinet.scenery
    .wine-o
  a.buttonPSR.PSRLink(href=PSRLink,target="_blank")
    .comingSoonBtn
  a.grandma.EventsLink(href=EventsLink,target="_blank")
    .grandmaHand.scenery
    .grandmaBody.scenery
  a.buttonEvents.EventsLink(href=EventsLink,target="_blank")
  .vegetableBasket.front.scenery
