mixin radio(label,value,name,desc='')
  label.customInputContainer
    input.customInput(type='radio',name=name,value=value)
    span.customRadio
    span.customLabel!=label
      span.customInputContainer_desc=desc

mixin checkbox(label,value,name,desc='')
  label.customInputContainer
    input.customInput(type='checkbox',name=name,value=value)
    span.customCheckbox
    span.customLabel!=label
      span.customInputContainer_desc=desc

mixin textInput(info = {label:'',value:'',placeholder:'',name:'',desc:'',rightDesc:'',isReadonly:false})
  label.customTextInput_container(class=(info.isReadonly?'customTextInput_container-readonly':''))
    .customTextInput_title=info.label
    .customTextInput_inputBlock(id=info.name)
      if info.isReadonly
        .customTextInput_inputBlock-readonly=info.value
      else  
        .customTextInput_input(data-id=info.name)
          input(type='text',class='text',value=info.value,name=info.name,placeholder=info.placeholder,readonly=info.isReadonly)
          if block
            block
        //- if(info.desc!='' && info.desc)
        .customTextInput_desc(data-id=info.name)!=info.desc
      if(info.rightDesc!='' && info.rightDesc)
        .customTextInput_desc.customTextInput_desc-right!=info.rightDesc

mixin passwordInput(info = {label:'',value:'',placeholder:'',name:'',desc:'',rightDesc:'',isReadonly:false})
  label.customTextInput_container
    .customTextInput_title=info.label
    //-.readonlyBlock
    .customTextInput_inputBlock(id=info.name)
      if info.isReadonly
        .customTextInput_inputBlock-readonly=info.value
      else  
        .customTextInput_input(data-id=info.name)
          input(type='password',class='text',value=info.value,name=info.name,placeholder=info.placeholder,readonly=info.isReadonly)
          if block
            block
        //- if(info.desc!='' && info.desc)
        .customTextInput_desc(data-id=info.name)!=info.desc
      if(info.rightDesc!='' && info.rightDesc)
        .customTextInput_desc.customTextInput_desc-right!=info.rightDesc

mixin textareaInput(info = {label:'',value:'',placeholder:'',name:'',desc:'',bottomDesc:'',isReadonly:false})
  label.customTextareaInput_container
    .customTextInput_title=info.label
    .customTextInput_inputBlock(id=info.name)
      .customTextInput_input(data-id=info.name)
        textarea(class='textarea',name=info.name,placeholder=info.placeholder,readonly=info.isReadonly)
          !=info.value
        if block
          block
      if(info.desc!='')
        .customTextInput_desc(data-id=info.name)!=info.desc
    if(info.rightDesc!='' && info.rightDesc)
      .customTextInput_desc.customTextInput_desc-right!=info.rightDesc

mixin input(type,name,value,label,desc='')
  label.customInputContainer
    input.customInput(type=type,name=name,value=value)
    if type=='radio'
      span.customRadio
    else if type=='checkbox'
      span.customCheckbox
    span!=label
      span.customInputContainer_desc=desc

//- mixin textInput(type,name,placeholder,label,desc='ffff')
//-   label(class=(type=='textarea')?'customTextareaInput_container':'customTextInput_container')
//-     div.customTextInput_title=label
//-     if type=='textarea'
//-       textarea(class=type,name=name,placeholder=placeholder,readonly=(type=='readonly'?true:false))
//-     else
//-       input(type=type,class=type,name=name,placeholder=placeholder,readonly=(type=='readonly'?true:false))
//-     .customTextInput_desc=desc

mixin testCardRow(title,content,fieldId,style)
  .testCard_row(class=fieldId,style=style)
    .testCard_cell-title=title
    .testCard_cell=content

mixin row(title,value)
  .contactInfo_row
    .contactInfo_cell-title!=title
    .contactInfo_cell=value
